* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  /* Colors */

  /* Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --card-background: white;

  /* Typography */
  --body: 1rem; /*(paragraph)*/
  --normal-weight: 500;
  --bold-weight: 700;
  --bolder-weight: 900;
  --h1-size: 1.75rem;

  --p-line-height: 1.625rem;
}
body {
  font-size: var(--body);
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3.125rem 1.5625rem;
}

h1 {
  font-size: var(--h1-size);
  color: var(--dark-blue);
  font-weight: var(--bolder-weight);
}
p {
  line-height: 1.625rem;
  color: var(--desaturated-blue);
}
